body,
html {
  height: 100%;
  margin: 0;
}

.container {
  text-align: center;
  height: 100%;
  padding: 16px;
  box-sizing: border-box;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
  border-radius: 15px;
}

.header {
  background-color: #006157;
}

.sidebar {
  background-color: #005B94;
}

.nav {
  background-color: #642cde;
}

.article {
  background-color: #7E1DC3;
}

.footer {
  background-color: #393f4d;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

/* Solution */

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(8, 1fr);
  gap: 10px;
}

.header {
  grid-row: 1/1;
  grid-column: 1/5;
}

.sidebar {
  grid-row: 2/7;
  grid-column: 1/2;
}

.nav {
  grid-row: 2/3;
  grid-column: 2/5;
}

.article {
  grid-row: 3/7;
  grid-column: 2/5;
}

.footer {
  grid-row: 7/8;
  grid-column: 1/5;

}